.sidenav {
    background: #70060f;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 6.1rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #020408;

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.000rem; /* Ajustez le padding à gauche */
        width: calc(100% - 0.625rem); 

        .logo {
          background: transparent;
          text-align: center;
          width: 3rem;
          min-width: 3rem;
          border-radius: 0.313rem;
          padding: 0.313rem;
          font-size: 26px;
          font-weight: 900;
          cursor: pointer;
          border: none;
        }

        .logo-text {
            margin-left: 4rem;
            font-size: 24px;
            font-weight: 800;
            color: #D6CAA3;
        }

        .btn-close {
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;

            .fa-jack-o-lantern {
                color: #D6CAA3;
                font-size: 28px;
            }
        }
    }
}

.sidenav-collapsed {
    width: 16.562rem;
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;
    }

    .sidenav-nav-link {
        display: flex;
        align-items: center;
        height: 3rem;
        color: #D6CAA3;
        text-decoration: none;
        border-radius: 0.225rem;
        transition: color .3s ease;

        .sidenav-link-icon {
            font-size: 26px;
            width: 2rem;
            min-width: 2rem;
            margin: 0 1.0rem;
            text-align: center;
        }

        .sidenav-link-text {
            margin-left: 2.1rem;
            font-size: 18px;
        }
    }

    .sidenav-nav-item:hover {
        .sidenav-nav-link {
            background-color: #D6CAA3;
            color: black;
        }

    }
}

.active {
    background-color:#D6CAA3;

    .sidenav-link-icon,
    .sidenav-link-text {
        color: black;
    }
}

